<div class="text-center" *ngIf="loginService.canActivate()">
  <button type="button" class="btn btn-info" [routerLink]="['create']">Add a new Customer</button>
</div><br/>
<table class="table table-hover">
  <thead>
  <tr>
    <td><strong>Customer Last Name</strong></td>
    <td><strong>Customer First Name Description</strong></td>
    <td><strong>Customer Email</strong></td>
    <td *ngIf="loginService.canActivate()" colspan="2"><strong>Actions</strong></td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.firstName }}</td>
    <td>{{ customer.lastName }}</td>
    <td>{{ customer.email }}</td>
    <td *ngIf="loginService.canActivate()"><a [routerLink]="['edit', customer.id]"
                                              class="btn btn-primary">Edit</a></td>
<!--    <td *ngIf="loginService.canActivate()"><a (click)="deleteCustomer(customer.id)"-->
<!--                                              class="btn btn-danger">Delete</a>-->
  </tr>
  </tbody>
</table>
