<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="col-md-4">Product Name</label>
        <input placeholder="{{product.productName}}" type="text" class="form-control" formControlName="productName" #productName/>
      </div>
      <div *ngIf="angForm.controls['productName'].invalid && (angForm.controls['productName'].dirty || angForm.controls['productName'].touched)" class="alert alert-danger">
        Product name is required.
      </div>
      <div class="form-group">
        <label class="col-md-4">Product Description </label>
        <textarea class="form-control" rows=7 cols="5" formControlName="productDescription" #productDescription></textarea>
      </div>
      <div *ngIf="angForm.controls['productDescription'].invalid && (angForm.controls['productDescription'].dirty || angForm.controls['productDescription'].touched)" class="alert alert-danger">
        Product description is required.
      </div>
      <div class="form-group">
        <label class="col-md-4">Product Stock </label>
        <input type="number" class="form-control" formControlName="productStock" #productStock>
      </div>
      <div *ngIf="angForm.controls['productStock'].invalid && (angForm.controls['productStock'].dirty || angForm.controls['productStock'].touched)" class="alert alert-danger">
        Product stock information is required.
      </div>
      <div class="form-group">
        <label class="col-md-4">Product Price</label>
        <input type="number" class="form-control" formControlName="productPrice" #productPrice/>
      </div>
      <div *ngIf="angForm.controls['productPrice'].invalid && (angForm.controls['productPrice'].dirty || angForm.controls['productPrice'].touched)" class="alert alert-danger">
        Product price is required.
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">Update Product</button>
      </div>
    </form>
  </div>
</div>
